
  .carousel-inner{
    height: 250px;
  }
  .carousel-caption{
    color: #000;
    top: 50%;
    text-align: justify;
  }

  .slider-background {
    background-color: #fff;
    padding: 32px 16px;
    color: #1E29C5;
    border: 1px solid;
    box-shadow: 5px 5px 5px #00000059;
  }

  .home-app-link40 {
    margin-top: 0px;
  }

  .home-app-link36
{text-align:center; margin-top:-70px; margin-bottom: 0px; }

  .home-center-image {
    width: 88% !important;
    display: block;
    margin: -95px auto 0px auto;
    overflow: hidden;
  }

  .home-banner-top {
    height: 768px;
}