.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;margin-top:-20px;}

.goog-logo-link  {
   display:none !important;
} 

.goog-te-gadget{
   color: transparent !important;
}

.goog-te-gadget-simple {
   font-size: 13pt;
   padding-top: 3px !important;
   padding-bottom: 3px !important;
}

#unteledoc_google_translator{
   text-align: center;
}

#goog-gt-tt{
   display:none !important;
}



